30-integracoes/n8n/workflows/fila-notificar.json
{
  "name": "fila-notificar (digest diario Hermes)",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "n1",
      "name": "Digest diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      }
    },
    {
      "id": "n2",
      "name": "Buscar pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "notes": "order alfabetico de risco_conformidade coloca 'alto' antes de 'baixo' e 'medio' naturalmente (a < b < m).",
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/fila_sugestoes?status=eq.pendente&order=risco_conformidade.asc,criado_em.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n3",
      "name": "Tem pendentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n4",
      "name": "Montar digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -80],
      "notes": "Link de decisao aponta para o workflow fila-decidir.json. N8N_BASE_URL = URL publica do pod PikaPods.",
      "parameters": {
        "jsCode": "const itens = $input.first().json;\nconst base = $env.N8N_BASE_URL + '/webhook/fila-decidir';\nlet texto = 'Sugestoes do Hermes pendentes (' + itens.length + '):\\n\\n';\nfor (const s of itens) {\n  texto += '[' + s.risco_conformidade.toUpperCase() + '] ' + s.area + '\\n';\n  texto += s.problema_observado + '\\n';\n  texto += 'Aprovar: ' + base + '?id=' + s.sugestao_id + '&decisao=aprovada\\n';\n  texto += 'Rejeitar: ' + base + '?id=' + s.sugestao_id + '&decisao=rejeitada\\n\\n';\n}\nreturn [{ json: { texto } }];"
      }
    },
    {
      "id": "n5",
      "name": "Enviar digest WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -80],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $env.RODRIGO_WA_NUMBER, type: 'text', text: { body: $json.texto } } }}",
        "options": {}
      }
    },
    {
      "id": "n6",
      "name": "Nada pendente",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 80],
      "parameters": {}
    }
  ],
  "connections": {
    "Digest diario": { "main": [[{ "node": "Buscar pendentes", "type": "main", "index": 0 }]] },
    "Buscar pendentes": { "main": [[{ "node": "Tem pendentes?", "type": "main", "index": 0 }]] },
    "Tem pendentes?": {
      "main": [
        [{ "node": "Montar digest", "type": "main", "index": 0 }],
        [{ "node": "Nada pendente", "type": "main", "index": 0 }]
      ]
    },
    "Montar digest": { "main": [[{ "node": "Enviar digest WhatsApp", "type": "main", "index": 0 }]] }
  }
}
