30-integracoes/n8n/workflows/workflow-completo.json
{
  "name": "salles-ai-agent — operacao completa (todos os gatilhos)",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "av-n1",
      "name": "WhatsApp IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-in",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "av-n2",
      "name": "Extrair mensagem e origem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "notes": "Fallback seguro: sem marcador [ref:lp]/[ref:tiktok] => trata como tiktok (nunca assume compra sem confirmar). Ver ../../whatsapp/README.md secao 8.",
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst entry = body.entry?.[0]?.changes?.[0]?.value;\nconst msg = entry?.messages?.[0];\nconst contato = entry?.contacts?.[0];\n\nconst wa_id = msg?.from;\nconst nome = contato?.profile?.name || null;\nconst texto = msg?.text?.body || '';\n\nlet origem = 'tiktok';\nif (/\\[ref:lp\\]/i.test(texto)) origem = 'lp';\nelse if (/\\[ref:tiktok\\]/i.test(texto)) origem = 'tiktok';\n\nreturn [{ json: { wa_id, nome, texto_recebido: texto, origem } }];"
      }
    },
    {
      "id": "av-n3",
      "name": "Upsert lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "notes": "Upsert evita branch IF de 'lead existe?': Prefer=resolution=merge-duplicates atualiza se ja existir.",
      "parameters": {
        "method": "POST",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?on_conflict=lead_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_id: $node[\"Extrair mensagem e origem\"].json.wa_id, nome: $node[\"Extrair mensagem e origem\"].json.nome, origem_canal: $node[\"Extrair mensagem e origem\"].json.origem === 'lp' ? 'meta_ads' : 'tiktok_ads', ultima_interacao: new Date().toISOString(), status: 'ativo' } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n4",
      "name": "Buscar historico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/conversas?lead_id=eq.{{$node[\"Extrair mensagem e origem\"].json.wa_id}}&order=ocorrido_em.desc&limit=10",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n5",
      "name": "Buscar prompt ativo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        80
      ],
      "notes": "chave=objetivo e chave=compliance devem ter sido inseridas em prompt_ativo a partir de 00-nucleo/objetivo.md e compliance-e-etica.md.",
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/prompt_ativo?chave=in.(objetivo,compliance)&ativo=eq.true",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n5c",
      "name": "Buscar produtos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        160
      ],
      "notes": "Catalogo real (ver ../../catalogo-produtos.md). Fonte de verdade em runtime -- nunca hardcode preco no codigo do workflow.",
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/produtos?ativo=eq.true&order=ordem.asc",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n5b",
      "name": "Merge contexto",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "notes": "Barreira de sincronizacao: garante que Buscar historico E Buscar prompt ativo terminaram antes de montar o prompt. Sem isso, o proximo node roda 2x (duplica chamada OpenAI/envio).",
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      }
    },
    {
      "id": "av-n5d",
      "name": "Merge contexto 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        940,
        80
      ],
      "notes": "Segunda barreira: junta o resultado do Merge contexto com Buscar produtos, mesma razao da primeira (evita disparo duplicado).",
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      }
    },
    {
      "id": "av-n6",
      "name": "Montar mensagens OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "notes": "Pede saida em JSON estruturado (resposta + intent + arquetipo + pivo_downsell). Calcula a tabela de desconto real em codigo. Inclui as tags resolve_objecao/arquetipos para o pivo (secao 3) e destaque por perfil (secao 4) funcionarem em runtime. Instrui o modelo a oferecer o desconto de recuperacao (20%, aplicado de verdade em 'Montar items do carrinho') com moldura honesta -- nunca 'so hoje' ou datado.",
      "parameters": {
        "jsCode": "const promptRows = $node[\"Buscar prompt ativo\"].json;\nconst objetivo = promptRows.find(r => r.chave === 'objetivo')?.conteudo || '';\nconst compliance = promptRows.find(r => r.chave === 'compliance')?.conteudo || '';\nconst historico = ($node[\"Buscar historico\"].json || []).reverse();\nconst extra = $node[\"Extrair mensagem e origem\"].json;\nconst produtos = $node[\"Buscar produtos\"].json || [];\n\nconst catalogoTexto = produtos.map(p => {\n  let linha = '- ' + p.produto_id + ' (' + p.tipo + '): ' + p.nome + ' - R$ ' + (p.preco_centavos/100).toFixed(2);\n  if (p.resolve_objecao && p.resolve_objecao.length) linha += ' [resolve objecao: ' + p.resolve_objecao.join(', ') + ']';\n  if (p.arquetipos && p.arquetipos.length) linha += ' [arquetipo: ' + p.arquetipos.join(', ') + ']';\n  return linha;\n}).join('\\n');\n\n// Tabela de desconto REAL, calculada com a MESMA formula usada em \"Montar items do carrinho\".\n// O modelo nunca deve inventar ou recalcular estes numeros -- precisam bater exatamente\n// com o valor que sera de fato cobrado no BlackCat.\nfunction calcularTotal(itens) {\n  const fator = 1 - (Math.max(0, itens.length - 1) * 10) / 100;\n  return itens.reduce((soma, p) => soma + Math.round(p.preco_centavos * fator), 0);\n}\nfunction fmt(centavos) {\n  return (centavos / 100).toFixed(2).replace('.', ',');\n}\n\nconst principal = produtos.find(p => p.tipo === 'principal');\nconst bumps = produtos.filter(p => p.tipo === 'order_bump').sort((a, b) => a.ordem - b.ordem);\n\nlet tabelaDesconto = '';\nif (principal && bumps.length) {\n  let acumulado = [principal];\n  const linhas = [];\n  for (const bump of bumps) {\n    const semDesconto = acumulado.reduce((s, p) => s + p.preco_centavos, 0) + bump.preco_centavos;\n    acumulado = [...acumulado, bump];\n    const comDesconto = calcularTotal(acumulado);\n    const descontoPct = Math.max(0, acumulado.length - 1) * 10;\n    const economia = semDesconto - comDesconto;\n    linhas.push('*+ ' + bump.nome + '* (R$ ' + fmt(bump.preco_centavos) + ')\\n   Total: R$ ' + fmt(comDesconto) + ' - voce economiza *R$ ' + fmt(economia) + '* (' + descontoPct + '% OFF)');\n  }\n  tabelaDesconto = '*Sua ' + principal.nome + ' - R$ ' + fmt(principal.preco_centavos) + '*\\n\\nVeja como o valor final cai conforme voce completa sua protecao:\\n\\n' + linhas.join('\\n\\n') + '\\n\\nEscolha quantos quiser -- quanto mais completa, maior o desconto';\n}\n\nconst systemPrompt = objetivo + '\\n\\n' + compliance\n  + '\\n\\nOrigem do lead nesta conversa: ' + extra.origem + '.'\n  + '\\n\\nCatalogo de produtos disponiveis (use exatamente estes produto_id em produtos_aceitos, nunca invente produto ou preco fora desta lista):\\n' + catalogoTexto\n  + '\\n\\nQuando o lead aceitar o produto principal, apresente TODOS os order_bump de uma vez (nao um a um). Use EXATAMENTE este texto para mostrar a economia (os numeros ja estao calculados e batem com o valor real cobrado -- nunca invente ou recalcule):\\n\\n' + tabelaDesconto\n  + '\\n\\nVoce pode ajustar saudacao/tom ao redor deste texto, mas NUNCA altere os valores em R$ ou os percentuais.'\n  + '\\n\\nPIVO POR OBJECAO: se o lead recusar o principal ou repetir uma objecao forte (ex: \"esta caro\", \"nao tenho interesse\", \"vou pensar\") DEPOIS de voce ja ter tentado tratar a objecao uma vez, ofereca o produto do catalogo cuja tag [resolve objecao] bate com o sinal. Nao insista mais de uma vez na mesma linha de recusa.'\n  + '\\n\\nARQUETIPO: identifique ao longo da conversa qual arquetipo da lead mais se encaixa (mae_protetora: fala de filhos/familia/protecao; guerreira_fe: fala de batalha/forca/nao desistir; devota_busca: fala de milagre/graca/resposta/sinal; mulher_pertence: fala de comunidade/nao estar sozinha). Quando apresentar o stack, priorize o produto cujo [arquetipo] bate com o perfil identificado. Se nao houver sinal claro ainda na conversa, retorne arquetipo como null -- nunca invente um arquetipo sem evidencia real.\\n\\nDESCONTO DE RECUPERACAO (pivo por objecao): quando oferecer o produto alternativo da secao de pivo (aquele cuja tag [resolve objecao] bate com o sinal do lead), voce pode mencionar que consegue liberar 20% de desconto para ela fechar agora, nesse momento da conversa. Diga algo como \"consigo liberar 20% pra voce fechar agora\" -- NUNCA diga que essa condicao e \"so hoje\", \"exclusiva desta semana\", \"ultima chance\" ou qualquer coisa datada/limitada no tempo. E uma concessao real e sempre disponivel para quem chega a esse ponto da conversa, nunca uma urgencia fabricada. Quando gerar o link de pagamento para esse cenario (produto alternativo com o desconto de recuperacao), defina pivo_downsell=true na resposta. Em qualquer outro caso de gerar_link, pivo_downsell=false.'\n  + '\\n\\nResponda SEMPRE em JSON no formato: {\"resposta\": string, \"intent\": \"qualificando\"|\"objecao\"|\"aceitou_stack\"|\"gerar_link\"|\"recusou\", \"produtos_aceitos\": string[], \"arquetipo\": \"mae_protetora\"|\"guerreira_fe\"|\"devota_busca\"|\"mulher_pertence\"|null, \"pivo_downsell\": boolean}';\n\nconst messages = [{ role: 'system', content: systemPrompt }];\nfor (const h of historico) {\n  if (h.mensagem_lead) messages.push({ role: 'user', content: h.mensagem_lead });\n  if (h.mensagem_agente) messages.push({ role: 'assistant', content: h.mensagem_agente });\n}\nmessages.push({ role: 'user', content: extra.texto_recebido });\n\nreturn [{ json: { model: 'gpt-4.1', response_format: { type: 'json_object' }, messages } }];"
      }
    },
    {
      "id": "av-n7",
      "name": "Chamar OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "av-n8",
      "name": "Extrair resposta e intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content;\nconst parsed = JSON.parse(content);\nreturn [{ json: parsed }];"
      }
    },
    {
      "id": "av-n9",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/<<WHATSAPP_PHONE_NUMBER_ID>>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $node[\"Extrair mensagem e origem\"].json.wa_id, type: 'text', text: { body: $json.resposta } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "id": "av-n10",
      "name": "Gravar evento conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=<<SUPABASE_URL>>/rest/v1/conversas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_id: $node[\"Extrair mensagem e origem\"].json.wa_id, mensagem_agente: $node[\"Extrair resposta e intent\"].json.resposta, mensagem_lead: $node[\"Extrair mensagem e origem\"].json.texto_recebido, produtos_aceitos: $node[\"Extrair resposta e intent\"].json.produtos_aceitos || [] } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n11",
      "name": "Intent = gerar_link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$node[\"Extrair resposta e intent\"].json.intent}}",
              "rightValue": "gerar_link",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "av-n12",
      "name": "Montar items do carrinho",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -80
      ],
      "notes": "Dois mecanismos de desconto distintos, nunca misturados: pivo_downsell=true aplica 20% fixo (recuperacao por objecao); caso contrario, 10% por item adicional no stack normal. Le o catalogo real de Buscar produtos e aplica o desconto DE VERDADE no unitPrice -- o total cobrado precisa refletir exatamente o que foi dito na conversa (compliance-e-etica.md, secao 2/3).",
      "parameters": {
        "jsCode": "const idsAceitos = $node[\"Extrair resposta e intent\"].json.produtos_aceitos || [];\nconst pivoDownsell = $node[\"Extrair resposta e intent\"].json.pivo_downsell === true;\nconst catalogo = $node[\"Buscar produtos\"].json || [];\n\nconst selecionados = idsAceitos.map(id => catalogo.find(p => p.produto_id === id)).filter(Boolean);\n\nlet descontoPct;\nif (pivoDownsell) {\n  // Desconto FIXO de recuperacao para o pivo por objecao (catalogo-produtos.md, secao 3).\n  // E uma concessao real, sempre disponivel -- nunca rotulada como \"so hoje\" ou datada\n  // (compliance-e-etica.md, secao 2). Constante intencional, nao depende do tamanho do carrinho.\n  descontoPct = 20;\n} else {\n  // Desconto por tamanho do stack (principal + order bumps), 10% por item adicional.\n  descontoPct = Math.max(0, selecionados.length - 1) * 10;\n}\nconst fator = 1 - (descontoPct / 100);\n\nconst items = selecionados.map(p => ({\n  title: p.nome,\n  quantity: 1,\n  unitPrice: Math.round(p.preco_centavos * fator)\n}));\n\nreturn [{ json: { items, descontoPct } }];"
      }
    },
    {
      "id": "av-n13",
      "name": "Criar venda BlackCat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        -80
      ],
      "notes": "Confirmar header de autenticacao exato na doc BlackCat (docs.blackcatoficial.com) antes de usar em producao.",
      "parameters": {
        "method": "POST",
        "url": "https://api.blackcathub.com/api/sales/create-sale",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { items: $json.items, externalRef: $node[\"Extrair mensagem e origem\"].json.wa_id, postbackUrl: '<<N8N_BASE_URL>>' + '/webhook/blackcat', metadata: { origem: $node[\"Extrair mensagem e origem\"].json.origem } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "BlackCat"
        }
      }
    },
    {
      "id": "av-n13b",
      "name": "Atualizar evento com carrinho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        80
      ],
      "notes": "Fecha o loop de auditoria do desconto: grava desconto_aplicado_pct e link_blackcat_id no evento inserido em 'Gravar evento conversa' (exige Prefer:return=representation la para termos o evento_id). TODO: confirmar o nome exato do campo de id/link no retorno do create-sale do BlackCat -- usei 'id'/'paymentUrl' como suposicao razoavel, nao 100% confirmado na doc.",
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/conversas?evento_id=eq.{{$node[\"Gravar evento conversa\"].json[0].evento_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { desconto_aplicado_pct: $node[\"Montar items do carrinho\"].json.descontoPct, link_blackcat_id: $json.id || null } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n14",
      "name": "Enviar link WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -80
      ],
      "notes": "TODO: mesma ressalva do node 'Criar venda BlackCat' -- confirmar o campo exato de retorno (usei 'paymentUrl') na doc oficial do BlackCat antes de producao.",
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/<<WHATSAPP_PHONE_NUMBER_ID>>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $node[\"Extrair mensagem e origem\"].json.wa_id, type: 'text', text: { body: 'Aqui esta o seu link: ' + $node[\"Criar venda BlackCat\"].json.paymentUrl } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "id": "av-n15",
      "name": "Fim (sem link ainda)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        80
      ],
      "parameters": {}
    },
    {
      "id": "av-n16",
      "name": "Arquetipo detectado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        160
      ],
      "notes": "So grava se o modelo realmente identificou sinal na conversa (nunca sobrescreve com null e perde um arquetipo ja detectado antes).",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$node[\"Extrair resposta e intent\"].json.arquetipo}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "av-n17",
      "name": "Atualizar arquetipo do lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        160
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?lead_id=eq.{{$node[\"Extrair mensagem e origem\"].json.wa_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { arquetipo: $node[\"Extrair resposta e intent\"].json.arquetipo } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "av-n18",
      "name": "Sem arquetipo novo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        240
      ],
      "parameters": {}
    },
    {
      "id": "pb-n1",
      "name": "BlackCat IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "blackcat",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "pb-n2",
      "name": "event = paid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.event}}",
              "rightValue": "transaction.paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "pb-n2b",
      "name": "event = created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.event}}",
              "rightValue": "transaction.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "pb-n2c",
      "name": "event = failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        860
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.event}}",
              "rightValue": "transaction.failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "pb-n2d",
      "name": "Evento desconhecido",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1020
      ],
      "parameters": {}
    },
    {
      "id": "pb-n3",
      "name": "Marcar cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        540
      ],
      "notes": "transaction.paid: marca status=cliente e grava o(s) produto(s) comprados.",
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?lead_id=eq.{{$json.body.externalRef}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'cliente', etapa_funil: 'comprou_principal', produtos_comprados: $json.body.items } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "pb-n4",
      "name": "Confirmar no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/<<WHATSAPP_PHONE_NUMBER_ID>>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $node[\"BlackCat IN\"].json.body.externalRef, type: 'text', text: { body: 'Pagamento confirmado! Em instantes voce recebe os detalhes de acesso. 🙏' } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "id": "pb-n5",
      "name": "Gravar evento (venda)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "=<<SUPABASE_URL>>/rest/v1/conversas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_id: $node[\"BlackCat IN\"].json.body.externalRef, etapa_processo: 'fechamento', desfecho: 'venda', link_blackcat_id: $node[\"BlackCat IN\"].json.body.id || null } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "pb-n6",
      "name": "Marcar abandonado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        700
      ],
      "notes": "transaction.created sem paid ainda: arma o estado para o timer de recuperacao de 2h.",
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?lead_id=eq.{{$json.body.externalRef}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'abandonou' } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "pb-n7",
      "name": "Esperar 2h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        700
      ],
      "notes": "n8n persiste a execucao e retoma sozinho apos 2h, mesmo que o pod reinicie.",
      "parameters": {
        "unit": "hours",
        "amount": 2
      }
    },
    {
      "id": "pb-n8",
      "name": "Ainda abandonado?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        700
      ],
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?lead_id=eq.{{$node[\"BlackCat IN\"].json.body.externalRef}}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "pb-n9",
      "name": "Status = abandonou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        700
      ],
      "notes": "So recupera se ainda nao pagou nesse meio-tempo (transaction.paid teria mudado o status para cliente).",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json[0].status}}",
              "rightValue": "abandonou",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "pb-n10",
      "name": "Recuperacao texto livre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        620
      ],
      "notes": "Dentro da janela de 24h (o lead iniciou a conversa) -> texto livre, sem template.",
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/<<WHATSAPP_PHONE_NUMBER_ID>>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $node[\"BlackCat IN\"].json.body.externalRef, type: 'text', text: { body: 'Vi que voce nao concluiu ainda. Ficou alguma duvida que eu possa te ajudar a resolver?' } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "id": "pb-n11",
      "name": "Sem acao (ja resolveu)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        780
      ],
      "parameters": {}
    },
    {
      "id": "pb-n12",
      "name": "Marcar falhou",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        860
      ],
      "notes": "transaction.failed: expirou ou falhou. Volta para follow-up padrao (Gatilho 4).",
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?lead_id=eq.{{$json.body.externalRef}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'ativo' } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "f24-n1",
      "name": "A cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        1400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "f24-n2",
      "name": "Buscar leads sem compra >24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        1400
      ],
      "notes": "HTTP Request mantem o array inteiro como 1 item por padrao (nao explode sozinho) -- por isso o node seguinte separa explicitamente.",
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/leads?status=in.(ativo,abandonou)&ultima_interacao=lt.{{new Date(Date.now()-24*60*60*1000).toISOString()}}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "f24-n2b",
      "name": "Separar leads (1 item cada)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        330,
        1400
      ],
      "notes": "Transforma o array unico em N itens n8n, um por lead, para os proximos nodes rodarem por item automaticamente.",
      "parameters": {
        "jsCode": "const leads = $input.first().json || [];\nreturn leads.map(l => ({ json: l }));"
      }
    },
    {
      "id": "f24-n3",
      "name": "Enviar template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1400
      ],
      "notes": "WHATSAPP_TEMPLATE_NAME = nome do template aprovado pela Meta (ver ../../whatsapp/README.md secao 9). Fora da janela 24h so template serve.",
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/<<WHATSAPP_PHONE_NUMBER_ID>>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $json.lead_id, type: 'template', template: { name: '<<WHATSAPP_TEMPLATE_NAME>>', language: { code: 'pt_BR' }, components: [{ type: 'body', parameters: [{ type: 'text', text: $json.nome || '' }] }] } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "id": "f24-n4",
      "name": "Gravar evento (follow-up)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1400
      ],
      "parameters": {
        "method": "POST",
        "url": "=<<SUPABASE_URL>>/rest/v1/conversas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_id: $json.lead_id, etapa_processo: 'recuperacao', desfecho: 'follow_up_agendado' } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fn-n1",
      "name": "Digest diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        1700
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "fn-n2",
      "name": "Buscar pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        1700
      ],
      "notes": "order alfabetico de risco_conformidade coloca 'alto' antes de 'baixo' e 'medio' naturalmente (a < b < m).",
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/fila_sugestoes?status=eq.pendente&order=risco_conformidade.asc,criado_em.desc",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fn-n3",
      "name": "Tem pendentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        1700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fn-n4",
      "name": "Montar digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1620
      ],
      "notes": "Link de decisao aponta para o workflow fila-decidir.json. N8N_BASE_URL = URL publica do pod PikaPods.",
      "parameters": {
        "jsCode": "const itens = $input.first().json;\nconst base = '<<N8N_BASE_URL>>' + '/webhook/fila-decidir';\nlet texto = 'Sugestoes do Hermes pendentes (' + itens.length + '):\\n\\n';\nfor (const s of itens) {\n  texto += '[' + s.risco_conformidade.toUpperCase() + '] ' + s.area + '\\n';\n  texto += s.problema_observado + '\\n';\n  texto += 'Aprovar: ' + base + '?id=' + s.sugestao_id + '&decisao=aprovada\\n';\n  texto += 'Rejeitar: ' + base + '?id=' + s.sugestao_id + '&decisao=rejeitada\\n\\n';\n}\nreturn [{ json: { texto } }];"
      }
    },
    {
      "id": "fn-n5",
      "name": "Enviar digest WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1620
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/<<WHATSAPP_PHONE_NUMBER_ID>>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: '<<RODRIGO_WA_NUMBER>>', type: 'text', text: { body: $json.texto } } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "id": "fn-n6",
      "name": "Nada pendente",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        1780
      ],
      "parameters": {}
    },
    {
      "id": "fd-n1",
      "name": "Clique aprovar/rejeitar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2000
      ],
      "notes": "Recebe o clique nos links do digest (fila-notificar.json): ?id=<sugestao_id>&decisao=aprovada|rejeitada",
      "parameters": {
        "httpMethod": "GET",
        "path": "fila-decidir",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "fd-n2",
      "name": "Extrair id e decisao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        2000
      ],
      "parameters": {
        "jsCode": "const q = $input.first().json.query;\nreturn [{ json: { sugestao_id: q.id, decisao: q.decisao } }];"
      }
    },
    {
      "id": "fd-n3",
      "name": "Marcar decisao na fila",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        2000
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/fila_sugestoes?sugestao_id=eq.{{$json.sugestao_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: $json.decisao, decidido_por: 'rodrigo', decidido_em: new Date().toISOString() } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fd-n4",
      "name": "Decisao = aprovada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        2000
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$node[\"Extrair id e decisao\"].json.decisao}}",
              "rightValue": "aprovada",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fd-n5",
      "name": "Buscar sugestao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1920
      ],
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/fila_sugestoes?sugestao_id=eq.{{$node[\"Extrair id e decisao\"].json.sugestao_id}}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fd-n6",
      "name": "Derivar chave do prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1920
      ],
      "notes": "TODO: heuristica simples por nome de arquivo. Ajustar se o mapeamento arquivo->chave crescer (ex.: por skill individual).",
      "parameters": {
        "jsCode": "const s = $input.first().json[0];\nlet chave = 'skill:' + (s.arquivo_alvo || 'desconhecido');\nif (/objetivo\\.md$/.test(s.arquivo_alvo)) chave = 'objetivo';\nelse if (/compliance-e-etica\\.md$/.test(s.arquivo_alvo)) chave = 'compliance';\nreturn [{ json: { chave, conteudo: s.mudanca_proposta, sugestao_id: s.sugestao_id } }];"
      }
    },
    {
      "id": "fd-n7",
      "name": "Buscar versao atual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        1920
      ],
      "parameters": {
        "method": "GET",
        "url": "=<<SUPABASE_URL>>/rest/v1/prompt_ativo?chave=eq.{{$node[\"Derivar chave do prompt\"].json.chave}}&ativo=eq.true",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fd-n8",
      "name": "Desativar versao antiga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1920
      ],
      "notes": "Nao apaga: so marca ativo=false. E o que permite reverter com 1 toque (reativar a linha antiga manualmente se preciso).",
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/prompt_ativo?chave=eq.{{$node[\"Derivar chave do prompt\"].json.chave}}&ativo=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ativo: false } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fd-n9",
      "name": "Inserir nova versao ativa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1920
      ],
      "parameters": {
        "method": "POST",
        "url": "=<<SUPABASE_URL>>/rest/v1/prompt_ativo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chave: $node[\"Derivar chave do prompt\"].json.chave, versao: (($node[\"Buscar versao atual\"].json[0]?.versao) || 0) + 1, conteudo: $node[\"Derivar chave do prompt\"].json.conteudo, ativo: true, origem_sugestao_id: $node[\"Derivar chave do prompt\"].json.sugestao_id } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fd-n10",
      "name": "Marcar aplicado_em",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        1920
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=<<SUPABASE_URL>>/rest/v1/fila_sugestoes?sugestao_id=eq.{{$node[\"Extrair id e decisao\"].json.sugestao_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { aplicado_em: new Date().toISOString() } }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "",
          "name": "Supabase (apikey+auth)"
        }
      }
    },
    {
      "id": "fd-n11",
      "name": "Rejeitada (sem aplicacao)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        2080
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "WhatsApp IN": {
      "main": [
        [
          {
            "node": "Extrair mensagem e origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair mensagem e origem": {
      "main": [
        [
          {
            "node": "Upsert lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert lead": {
      "main": [
        [
          {
            "node": "Buscar historico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar prompt ativo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar historico": {
      "main": [
        [
          {
            "node": "Merge contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar prompt ativo": {
      "main": [
        [
          {
            "node": "Merge contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge contexto": {
      "main": [
        [
          {
            "node": "Merge contexto 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar produtos": {
      "main": [
        [
          {
            "node": "Merge contexto 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge contexto 2": {
      "main": [
        [
          {
            "node": "Montar mensagens OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar mensagens OpenAI": {
      "main": [
        [
          {
            "node": "Chamar OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar OpenAI": {
      "main": [
        [
          {
            "node": "Extrair resposta e intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair resposta e intent": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Arquetipo detectado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Gravar evento conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar evento conversa": {
      "main": [
        [
          {
            "node": "Intent = gerar_link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent = gerar_link?": {
      "main": [
        [
          {
            "node": "Montar items do carrinho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim (sem link ainda)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar items do carrinho": {
      "main": [
        [
          {
            "node": "Criar venda BlackCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar venda BlackCat": {
      "main": [
        [
          {
            "node": "Atualizar evento com carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar evento com carrinho": {
      "main": [
        [
          {
            "node": "Enviar link WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arquetipo detectado?": {
      "main": [
        [
          {
            "node": "Atualizar arquetipo do lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem arquetipo novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BlackCat IN": {
      "main": [
        [
          {
            "node": "event = paid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "event = paid?": {
      "main": [
        [
          {
            "node": "Marcar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "event = created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "event = created?": {
      "main": [
        [
          {
            "node": "Marcar abandonado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "event = failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "event = failed?": {
      "main": [
        [
          {
            "node": "Marcar falhou",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento desconhecido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar cliente": {
      "main": [
        [
          {
            "node": "Confirmar no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar no WhatsApp": {
      "main": [
        [
          {
            "node": "Gravar evento (venda)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar abandonado": {
      "main": [
        [
          {
            "node": "Esperar 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 2h": {
      "main": [
        [
          {
            "node": "Ainda abandonado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda abandonado?": {
      "main": [
        [
          {
            "node": "Status = abandonou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status = abandonou?": {
      "main": [
        [
          {
            "node": "Recuperacao texto livre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem acao (ja resolveu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A cada hora": {
      "main": [
        [
          {
            "node": "Buscar leads sem compra >24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar leads sem compra >24h": {
      "main": [
        [
          {
            "node": "Separar leads (1 item cada)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar leads (1 item cada)": {
      "main": [
        [
          {
            "node": "Enviar template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar template": {
      "main": [
        [
          {
            "node": "Gravar evento (follow-up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digest diario": {
      "main": [
        [
          {
            "node": "Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar pendentes": {
      "main": [
        [
          {
            "node": "Tem pendentes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem pendentes?": {
      "main": [
        [
          {
            "node": "Montar digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nada pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar digest": {
      "main": [
        [
          {
            "node": "Enviar digest WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clique aprovar/rejeitar": {
      "main": [
        [
          {
            "node": "Extrair id e decisao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair id e decisao": {
      "main": [
        [
          {
            "node": "Marcar decisao na fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar decisao na fila": {
      "main": [
        [
          {
            "node": "Decisao = aprovada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisao = aprovada?": {
      "main": [
        [
          {
            "node": "Buscar sugestao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejeitada (sem aplicacao)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar sugestao": {
      "main": [
        [
          {
            "node": "Derivar chave do prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Derivar chave do prompt": {
      "main": [
        [
          {
            "node": "Buscar versao atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar versao atual": {
      "main": [
        [
          {
            "node": "Desativar versao antiga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desativar versao antiga": {
      "main": [
        [
          {
            "node": "Inserir nova versao ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir nova versao ativa": {
      "main": [
        [
          {
            "node": "Marcar aplicado_em",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}